<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CucumberSeleniumDemoSuite">
  <test name="DemoPrerequisites">		 
	<classes>
	  <class name="test.example.CucumberFeaturesPrerequisiteIT"/>
	  <class name="test.example.stepdefs.DemoPrerequisiteStepDefs"/>
	</classes>		
  </test> 
  <test name="DemoSearch">		 
	<classes>
	  <class name="test.example.CucumberFeaturesSearchIT"/>
	  <class name="test.example.stepdefs.DemoSearchStepDefs"/>
	</classes>		
  </test>
</suite>